* {
  color: white;
  background-color: #b4001b;
  text-shadow: 2px 2px 4px #000000;
}
#heading {
  margin-top: 1.8rem;
  font-size: 60px;
  text-align: center;
}
#subHeading {
  text-align: center;
  margin-top: 20px;
}
section {
  text-align: center;
  margin-top: 70px;
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 240px;
  text-shadow: 0;
}
.inputName {
  border-radius: 30px;
  border: 3px solid white;
  margin-right: 298px;
  color: white;
  height: 40px;
  margin-left: 47px;
}
.submitButton {
  height: 90px;
  width: 390px;
  font-size: 35px;
  border-radius: 30px;
  border: 3px solid #b4001b;
  background-color: white;
  color: #b4001b;
}
#submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
/* media query */
@media (max-width: 680px) {
  #heading {
    font-size: 40px;
    text-align: center;
  }
  section {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
  }
  #submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
  .submitButton {
    height: 60px;
    width: 280px;
    font-size: 25px;
  }
  .label {
    text-align: center;
  }
  .input {
    margin-bottom: 15px;
  }
}
